/* Project list (start) */

.MKPROJECT .project-search {
    display: flex;
}

.MKPROJECT .project-search-item {
    max-width: 300px;
}

.MKPROJECT .project-search-frame {
    align-items: flex-start !important;
}

.MKPROJECT .project-add {
    padding-left: 28px !important;
}

.MKPROJECT .c-sidebar-nav__icon--project {
    background: url('../../../img/admin/common/project-icon.svg') no-repeat;
}

.MKPROJECT .c-sidebar-nav__link.is-current .c-sidebar-nav__icon--project {
    background: url('../../../img/admin/common/project-wicon.svg') no-repeat;
}

.MKPROJECT .c-input.--w170 {
    width: 170px;
}

.MKPROJECT .project-list-datepicker .c-datepicker:after {
    right: 38px;
}

.MKPROJECT .u-pb35 {
    padding-bottom: 35px;
}

.MKPROJECT .c-label {
    color: #000;
    background-color: #fff;
    padding: 0;
    border-radius: 0;
}

.MKPROJECT .c-sidebar-nav__icon {
    top: 14px;
    height: 20px;
}

.MKPROJECT .u-link.--link-color {
    color: #0000ff;
}

.MKPROJECT .c-label {
    text-align: left;
}

.MKPROJECT .c-label.--w110 {
    width: 115px;
}

.MKPROJECT .c-label.--w175 {
    width: 175px;
}

.MKPROJECT .c-label.--w200 {
    width: 199px;
}

.MKPROJECT .c-select.--w270 {
    width: 271.5px;
}

.MKPROJECT .c-select.--w240 {
    width: 239px;
}

.MKPROJECT .c-select.--w310 {
    width: 308px;
}

.MKPROJECT .--w306 {
    width: 306px;
}

.MKPROJECT .c-label.--w100 {
    width: 100px;
}

.MKPROJECT .c-label.--w105 {
    width: 101.5px;
}

.MKPROJECT .c-label.--align {
    padding-top: 12px;
}

.MKPROJECT .c-select:after {
    top: 19px;
}

.MKPROJECT .assignee-box .c-select:after {
    right: 20px;
}

.MKPROJECT .customer-box.c-select:after {
    right: 45px;
}

.MKPROJECT .icon-btn {
    height: 35px;
    width: 35px;
    background: url('../../../img/admin/angle-double-down.svg') no-repeat;
    cursor: pointer;
}

.MKPROJECT .icon-btn.open {
    background: url('../../../img/admin/angle-double-up.svg') no-repeat;
}

.MKPROJECT .c-box.--search {
    flex-direction: column;
}

.MKPROJECT .updown-box {
    display: none;
    transition: all 10s ease;
}

.MKPROJECT .updown-box.open {
    display: flex;
    transition: all 10s ease;
}

.MKPROJECT .assignee-icon {
    width: 26px;
    height: 26px;
    border: 1px solid #969696;
    border-radius: 50%;
    display: inline;
    padding: 3px;
    cursor: pointer;
}

.MKPROJECT .assignee-box,
.MKPROJECT .customer-box,
.MKPROJECT .priority-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MKPROJECT .u-mr8 {
    margin-right: 8px;
}

.MKPROJECT .c-table__th {
    text-align: center;
}

.MKPROJECT .c-table__td {
    text-align: center;
    padding: 13px 15px;
}

.MKPROJECT .icon {
    width: 16px;
    height: 16px;
    display: inline;
    margin-left: 7px;
}

.MKPROJECT .deadline {
    color: #ee461d;
    justify-content: center;
    margin-left: 21px;
}

.MKPROJECT .priority-icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin: 0 auto;
}

.MKPROJECT .tooltip .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: #f8f8f8;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 60%;
    left: 100%;
    margin-left: -60px;
}

.MKPROJECT .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f8f8f8 transparent transparent transparent;
}

.MKPROJECT .tooltip:hover .tooltiptext {
    visibility: visible;
    cursor: pointer;
}

.MKPROJECT .icon-align {
    display: flex;
    justify-content: center;
}

/* Project list (end) */

/* Project create and edit (start) */

.MKPROJECT .project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    padding: 0px 92px;
}

.MKPROJECT .project-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.MKPROJECT .project-input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.MKPROJECT .project-input-label {
    width: 337px;
    font-size: 14px;
    margin-right: 43px;
    text-align: start;
}

.MKPROJECT .project-content {
    width: 100%;
}

.MKPROJECT .date-content {
    width: 48%;
}

.MKPROJECT .c-textarea.--h100 {
    height: 100px;
}

.MKPROJECT .project-input-label.--p47 {
    padding-top: 47px;
}

.MKPROJECT .mark {
    width: 30px;
    text-align: center;
    line-height: 36px;
}

.MKPROJECT .--file-box {
    position: relative;
}

.MKPROJECT .file-content {
    width: 76%;
}

.MKPROJECT .file-wrapper {
    display: flex;
    justify-content: space-between;
}

.MKPROJECT .c-input.--file-input {
    width: 372px;
}

.MKPROJECT .c-btn.--file-btn {
    position: absolute;
    right: 0px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    background-color: #e6e6e6;
}

.MKPROJECT .clear-btn {
    border: 1px solid #a7a7a7;
    background-color: #fff;
}

.MKPROJECT .--file-input:focus~.c-btn.--file-btn {
    border: 2px solid #3A6073;
}

.MKPROJECT .error {
    color: #ff0000;
}
/* Project create and edit (end) */
